/*
Template Name: Upbond Admin
File: Main Css File
*/
/*  Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:400,600,700');
/*
  - General
  - Bootstrap Custom
  - Alerts
  - Alerts
  - Helper Classes
  - Waves Effect
  - Animation
*/
/* ==============
  General
===================*/
body {
  background: #f1f1f2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #f1f1f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262c30;
  margin: 10px 0;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  line-height: 45px;
  font-size: 23px;
  padding-top: 14px;
}
h2 {
  line-height: 35px;
}
h3 {
  line-height: 30px;
}
h3 small {
  color: #444444;
}
h4 {
  line-height: 22px;
}
h4 small {
  color: #444444;
}
h5 small {
  color: #444444;
}
* {
  outline: none !important;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
.table{
  margin-bottom: 30px !important;
}
.pagination{
  margin: 0px !important; 
  margin-bottom: 10px !important;
}
.table{
  padding: 15px;
}
.container {
  width: auto;
}
.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  color: #262c30;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
}
#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.label-green {
  background-color: #4caf50;
}
.label-green[href]:hover,
.label-green[href]:focus {
  background-color: #3d8b40;
}
.label-orange {
  background-color: #ff9800;
}
.label-orange[href]:hover,
.label-orange[href]:focus {
  background-color: #cc7a00;
}
.label-lime {
  background-color: #cddc39;
}
.label-lime[href]:hover,
.label-lime[href]:focus {
  background-color: #b2c022;
}
.label-inverse {
  background-color: #757575;
}
.label-inverse[href]:hover,
.label-inverse[href]:focus {
  background-color: #5b5b5b;
}
.social-links li a {
  -webkit-border-radius: 50%;
  background: #1ea69a;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
/* ==============
  Bootstrap-custom
===================*/
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px;
}
.dropdown-menu {
  padding: 4px 0;
  border: 0;
}
.dropdown-menu > li > a {
  padding: 6px 20px;
}
.bg-primary {
  background-color: #1ea69a;
}
.bg-success {
  background-color: #2286f5;
}
.bg-info {
  background-color: #5cb45b;
}
.bg-warning {
  background-color: #fa9a2a;
}
.bg-danger {
  background-color: #e73c38;
}
.bg-muted {
  background-color: #d0d0d0;
}
.bg-inverse {
  background-color: #212121;
}
.bg-purple {
  background-color: #3b47e2;
}
.bg-pink {
  background-color: #ed699b;
}
.bg-white {
  background-color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.text-danger {
  color: #e73c38;
}
.text-muted {
  color: #898989;
}
.text-primary {
  color: #1ea69a;
}
.text-warning {
  color: #fa9a2a;
}
.text-success {
  color: #2286f5;
}
.text-info {
  color: #5cb45b;
}
.text-pink {
  color: #ed699b;
}
.text-purple {
  color: #3b47e2;
}
.text-dark {
  color: #262c30;
}
.form-control {
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #95989a;
  box-shadow: none;
  height: 44px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
.form-control:focus {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: none;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 3px;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.label-primary {
  background-color: #1ea69a;
}
.label-success {
  background-color: #2286f5;
}
.label-info {
  background-color: #5cb45b;
}
.label-warning {
  background-color: #fa9a2a;
}
.label-danger {
  background-color: #e73c38;
}
.label-dark {
  background-color: #262c30;
}
.badge {
  text-transform: uppercase;
  padding: 3px 7px;
  font-size: 11px;
  margin-top: 1px;
}
.badge-xs {
  font-size: 9px;
}
.badge-xs,
.badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.badge-primary {
  background-color: #1ea69a;
}
.badge-success {
  background-color: #2286f5;
}
.badge-info {
  background-color: #5cb45b;
}
.badge-warning {
  background-color: #fa9a2a;
}
.badge-danger {
  background-color: #e73c38;
}
.badge-dark {
  background-color: #262c30;
}
.popover {
  border-radius: 3px;
}
.pagination > li > a {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #262c30;
}
.pagination > li > span {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #262c30;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1ea69a;
  border-color: #1ea69a;
}
.nav.nav-tabs + .tab-content {
  background: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}
.tabs-vertical-env {
  margin-bottom: 30px;
}
.tabs-vertical-env .tab-content {
  background: #ffffff;
  display: table-cell;
  margin-bottom: 30px;
  padding: 30px;
  vertical-align: top;
}
.tabs-vertical-env .nav.tabs-vertical {
  display: table-cell;
  min-width: 120px;
  vertical-align: top;
  width: 150px;
}
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  background-color: #1ea69a;
  color: #ffffff;
  border: 0;
}
.tabs-vertical-env .nav.tabs-vertical li.active > a:hover {
  color: #ffffff;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
  color: #333333;
  text-align: center;
  white-space: nowrap;
}
.nav.nav-tabs > li.active > a {
  background-color: #1ea69a;
  color: #ffffff;
  border: 0;
}
.nav.nav-tabs > li.active > a:hover {
  color: #ffffff;
}
.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333;
  cursor: pointer;
  line-height: 30px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
.nav.nav-tabs > li > a:hover,
.nav.tabs-vertical > li > a:hover {
  color: #1ea69a;
}
.tab-content {
  border: 1px solid #eeeeee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #797979;
}
.nav.nav-tabs > li:last-of-type a {
  margin-right: 0;
}
.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}
/* Dropcap */
.dropcap {
  font-size: 3.1em;
}
.dropcap,
.dropcap-circle,
.dropcap-square {
  display: block;
  float: left;
  font-weight: 400;
  line-height: 36px;
  margin-right: 6px;
  text-shadow: none;
}
.modal .modal-dialog .modal-content {
  border-radius: 2px;
  padding: 20px 20px 0 20px;
  box-shadow: none;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom-width: 2px;
  margin: 0;
  padding: 0 0 10px 0;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 10px 0;
}
.modal .modal-dialog .modal-content .modal-footer {
  padding-top: 15px;
}
.modal-full {
  width: 98%;
}
.modal-content .nav.nav-tabs + .tab-content {
  margin-bottom: 0;
}
.modal-content .panel-group {
  margin-bottom: 0;
}
.modal-content .panel {
  border-top: none;
}
.tabs-vertical-env .tab-content {
  margin-bottom: 0;
}
.legendLabel {
  padding-left: 10px;
}
/* =============
   Alerts
============= */
.alert {
  position: relative;
  border: 0;
}
.alert .alert-link {
  font-weight: 600;
}
.alert-success {
  color: #5cb45b;
  background-color: #e7f4e7;
}
.alert-success .alert-link {
  color: #469745;
}
.alert-success hr {
  border-top-color: #469745;
}
.alert-info {
  color: #1ea69a;
  background-color: #c4f4f0;
}
.alert-info .alert-link {
  color: #167b72;
}
.alert-info hr {
  border-top-color: #167b72;
}
.alert-warning {
  color: #fa9a2a;
  background-color: #fee6c9;
}
.alert-warning .alert-link {
  color: #eb8106;
}
.alert-warning hr {
  border-top-color: #eb8106;
}
.alert-danger {
  color: #e73c38;
  background-color: #fbe1e0;
}
.alert-danger .alert-link {
  color: #d31e19;
}
.alert-danger hr {
  border-top-color: #d31e19;
}
.list-group-item.active {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}
.list-group-item.active:hover {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}
.list-group-item.active:hover .list-group-item-text {
  color: #1ea69a;
}
.list-group-item.active:focus {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}
.list-group-item.active:focus .list-group-item-text {
  color: #1ea69a;
}
.list-group-item.active .list-group-item-text {
  color: #1ea69a;
}
.list-group-item {
  border-radius: 0;
  padding: 12px 20px;
}
.list-group-item:first-child {
  border-radius: 0;
  padding: 12px 20px;
}
.list-group-item:last-child {
  border-radius: 0;
  padding: 12px 20px;
}
.list-group-item-heading {
  font-weight: 300;
}
.list-group-item.active > .badge {
  color: #1ea69a;
}
.nav-pills > .active > a > .badge {
  color: #1ea69a;
}
.has-success .form-control {
  border-color: #2286f5;
  box-shadow: none;
}
.has-warning .form-control {
  border-color: #fa9a2a;
  box-shadow: none;
}
.has-error .form-control {
  border-color: #e73c38;
  box-shadow: none;
}
.input-group-addon {
  border-radius: 2px;
  border: 1px solid #eeeeee;
}
/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0;
}
.p-t-0 {
  padding-top: 0;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.m-0 {
  margin: 0;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-0 {
  margin-top: 0;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.m-h-50 {
  min-height: 50px;
}
.l-h-34 {
  line-height: 34px;
}
.font-light {
  font-weight: 300;
}
.wrapper-md {
  padding: 20px;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.b-0 {
  border: none;
}
.no-border {
  border: none;
}
.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.mx-box {
  max-height: 380px;
  min-height: 380px;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.text-full {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grid-structure .grid-container {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px 20px;
}
/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}
.waves-notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-block {
  display: block;
}
/* ==============
  Animation
===================*/
/* Bounce 1 */
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* Bounce 2 */
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-o-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -o-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* Dropdown */
@-webkit-keyframes dropdownOpen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes dropdownOpen {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes dropdownOpen {
  0% {
    opacity: 0;
    -o-transform: scale(0);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes dropdownOpen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* Progressbar Animated */
@-webkit-keyframes animationProgress {
  from {
    width: 0;
  }
}
@keyframes animationProgress {
  from {
    width: 0;
  }
}
/* Portlets loader */
@-webkit-keyframes loaderAnimate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
  }
}
@-moz-keyframes loaderAnimate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(220deg);
  }
}
@-o-keyframes loaderAnimate {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(220deg);
  }
}
@keyframes loaderAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
@-webkit-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
  }
}
@-moz-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -moz-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -moz-transform: rotate(140deg);
  }
}
@-o-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -o-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -o-transform: rotate(140deg);
  }
}
@keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}
@keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #999 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #999 0 0 0 2px;
  }
  100% {
    box-shadow: inset #999 0 0 0 17px;
    transform: rotate(140deg);
  }
}
@media print {
  .logo,
  .page-title,
  .breadcrumb,
  .footer {
    display: none;
    margin: 0;
    padding: 0;
  }
  .left {
    display: none;
  }
  .content {
    margin-top: 0;
    padding-top: 0;
  }
  .content-page {
    margin-left: 0;
    margin-top: 0;
  }
  .topbar,
  .footer,
  .side-menu {
    display: none;
    margin: 0;
    padding: 0;
  }
  .content-page > .content {
    margin: 0 !important;
  }
}
.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.responsive-utilities td.is-visible {
  background-color: #d9f3ee;
  color: #2286f5;
}
.icon-demo-content {
  text-align: center;
  color: #898989;
}
.icon-demo-content i {
  display: block;
  font-size: 28px;
  color: #262c30;
  margin-bottom: 5px;
}
.icon-demo-content .col-sm-6 {
  margin-bottom: 30px;
}
.icon-demo-content .col-sm-6:hover i {
  color: #1ea69a;
}
/*
File: Components
*/
/*
  - Buttons
  - Panels
  - Portlets
  - Checkbox and Radio
  - Progressbars
  - Tables
  - Form Elements
  - Calendar
  - Widgets
*/
/* ==============
  Buttons
===================*/
.btn {
  border-radius: 2px;
  padding: 10px 38px;
  background: #1ea69a;
  color: #FFF;
  font-size: 14px;
}
.btn-md {
  padding: 8px 18px;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 16px;
  font-size: 16px;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 10px;
}
.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px;
}
.input-group-btn .btn {
  padding: 8px 14px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink,
.btn-orange,
.btn-brown,
.btn-teal {
  color: #ffffff;
}
.btn-default {
  background-color: #ffffff;
  border-color: rgba(38, 44, 48, 0.2);
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  background-color: rgba(38, 44, 48, 0.07);
  border: 1px solid rgba(38, 44, 48, 0.2);
}
.btn-primary {
  background-color: #1ea69a;
  border: 1px solid #1ea69a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #1a9086;
  border: 1px solid #1a9086;
}
.btn-success {
  background-color: #2286f5;
  border: 1px solid #2286f5;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  background-color: #0b79f3;
  border: 1px solid #0b79f3;
}
.btn-info {
 /* background-color: #5cb45b;
  border: 1px solid #5cb45b;*/
  float: right;
  margin-bottom: 14px;
  margin-left: 5px;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  /*background-color: #4ea84d;
  border: 1px solid #4ea84d;*/
}
.btn-warning {
  background-color: #fa9a2a;
  border: 1px solid #fa9a2a;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  background-color: #f98e11;
  border: 1px solid #f98e11;
}
.btn-danger {
  background-color: #e73c38;
  border: 1px solid #e73c38;
}
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  background-color: #e42621;
  border: 1px solid #e42621;
}
.btn-dark {
  background-color: #262c30;
  border: 1px solid #262c30;
  color: #ffffff;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open > .dropdown-toggle.btn-dark {
  background-color: #1c293b;
  border: 1px solid #1c293b;
  color: #ffffff;
}
.btn-link {
  color: #262c30;
}
.btn-link:hover {
  color: #1ea69a;
}
.fileupload {
  overflow: hidden;
  position: relative;
}
.fileupload input.upload {
  cursor: pointer;
  filter: alpha(opacity=0);
  font-size: 20px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.btn-rounded {
  border-radius: 30px;
  padding: 6px 20px;
}
/* ==============
  Panels
===================*/
.panel {
  border: none;
  margin-bottom: 18px;
}
.panel .panel-body {
  /*padding: 15px 4em 0 17px;*/
  background: #F8FAFC;
  border:solid 1px #95989a;
}
.panel-heading {
  border: none !important;
  padding: 10px 20px;
}
.panel-default > .panel-heading {
  background-color: #fafafa;
  border-bottom: none;
  color: #262c30;
}
.panel-footer {
  background: #fafafa;
  border-top: 0;
}
.panel-color .panel-title {
  color: #ffffff;
}
.panel-primary > .panel-heading {
  background-color: #1ea69a;
}
.panel-success > .panel-heading {
  background-color: #2286f5;
}
.panel-info > .panel-heading {
  background-color: #5cb45b;
}
.panel-warning > .panel-heading {
  background-color: #fa9a2a;
}
.panel-danger > .panel-heading {
  background-color: #e73c38;
}
.panel-dark > .panel-heading {
  background-color: #262c30;
  color: #ffffff;
}
.panel-fill {
  border-radius: 3px;
}
.panel-fill .panel-heading {
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}
.panel-fill .panel-body {
  color: rgba(255, 255, 255, 0.85);
}
.panel-fill.panel-default .panel-body {
  color: #666;
}
.panel-fill.panel-default .panel-heading {
  background-color: transparent;
  color: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.panel-fill.panel-primary {
  background-color: #1ea69a;
}
.panel-fill.panel-success {
  background-color: #2286f5;
}
.panel-fill.panel-info {
  background-color: #5cb45b;
}
.panel-fill.panel-warning {
  background-color: #fa9a2a;
}
.panel-fill.panel-danger {
  background-color: #e73c38;
}
.panel-fill.panel-dark {
  background-color: #262c30;
}
.panel-group .panel .panel-heading a[data-toggle=collapse].collapsed:before {
  content: '\f067';
}
.panel-group .panel .panel-heading .accordion-toggle.collapsed:before {
  content: '\f067';
}
.panel-group .panel .panel-heading a[data-toggle=collapse] {
  display: block;
}
.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
  content: '\f068';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}
.panel-group .panel .panel-heading .accordion-toggle {
  display: block;
}
.panel-group .panel .panel-heading .accordion-toggle:before {
  content: '\f068';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}
.panel-group .panel .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}
.panel-group .panel-heading {
  padding: 12px 26px;
}
.panel-group.panel-group-joined .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}
.panel-group-joined .panel-group .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}
/* ==============
  Checkbox and Radio
===================*/
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}
.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none;
}
.checkbox label::after {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  width: 16px;
}
.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none;
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox.checkbox-single label {
  height: 17px;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #1ea69a;
  border-color: #1ea69a;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #e73c38;
  border-color: #e73c38;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5cb45b;
  border-color: #5cb45b;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #fa9a2a;
  border-color: #fa9a2a;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #2286f5;
  border-color: #2286f5;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}
.radio label::before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  outline: none;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 17px;
}
.radio label::after {
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #555555;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 11px;
  left: 3px;
  margin-left: -20px;
  position: absolute;
  top: 3px;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 11px;
}
.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}
.radio input[type="radio"]:checked + label::after {
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio.radio-single label {
  height: 17px;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #1ea69a;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #1ea69a;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #1ea69a;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #e73c38;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #e73c38;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #e73c38;
}
.radio-info input[type="radio"] + label::after {
  background-color: #5cb45b;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5cb45b;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5cb45b;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #fa9a2a;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #fa9a2a;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #fa9a2a;
}
.radio-success input[type="radio"] + label::after {
  background-color: #2286f5;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #2286f5;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #2286f5;
}
/* ==============
  Progressbars
===================*/
.progress {
  -webkit-box-shadow: none;
  background-color: #f5f5f5;
  box-shadow: none;
  height: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}
.progress-bar {
  box-shadow: none;
  font-size: 8px;
  font-weight: 600;
  line-height: 12px;
}
.progress.progress-sm {
  height: 5px;
}
.progress.progress-sm .progress-bar {
  font-size: 8px;
  line-height: 5px;
}
.progress.progress-md {
  height: 15px;
}
.progress.progress-md .progress-bar {
  font-size: 10.8px;
  line-height: 14.4px;
}
.progress.progress-lg {
  height: 20px;
}
.progress.progress-lg .progress-bar {
  font-size: 12px;
  line-height: 20px;
}
.progress-bar-primary {
  background-color: #1ea69a;
}
.progress-bar-success {
  background-color: #2286f5;
}
.progress-bar-info {
  background-color: #5cb45b;
}
.progress-bar-warning {
  background-color: #fa9a2a;
}
.progress-bar-danger {
  background-color: #e73c38;
}
.progress-bar-dark {
  background-color: #262c30;
}
.progress-bar-purple {
  background-color: #3b47e2;
}
.progress-bar-pink {
  background-color: #ed699b;
}
/* ==============
  Tables
===================*/
.table {
  margin-bottom: 10px;
}
tbody {
  color: #797979;
}
th {
  color: #666666;
  font-size: 10px;
  text-align: center;
  /* white-space: nowrap; */
}
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > td {
  padding: 6px 14px;
  /* text-align: center; */
  vertical-align: middle;
  white-space: nowrap;
}
table.focus-on tbody tr.focused th {
  background-color: #1ea69a;
  color: #ffffff;
}
table.focus-on tbody tr.focused td {
  background-color: #1ea69a;
  color: #ffffff;
}
.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle !important;
}
.modal-block {
  background: transparent;
  margin: 40px auto;
  max-width: 600px;
  padding: 0;
  position: relative;
  text-align: left;
}
.dt-buttons {
  float: left;
}
div#datatable-buttons_info {
  float: left;
}
table.dataTable th.focus,
table.dataTable td.focus {
  outline: 3px solid #1ea69a !important;
  outline-offset: -1px;
}
.fixedHeader-floating {
  top: 70px !important;
}
#datatable td {
  font-weight: normal;
}
div.dataTables_paginate ul.pagination {
  margin-top: 30px;
}
div.dataTables_info {
  padding-top: 38px;
}
.table-bordered.dataTable > thead > tr > td,
.table-bordered.dataTable > thead > tr > th {
  border-bottom-width: 1px;
}
table.dataTable {
  margin-bottom: 18px !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  top: 15px;
  background-color: #1ea69a;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #ed699b;
}
/* ==============
  Form-elements
===================*/
.error {
  color: #ff0000;
}
/* Form validation */
.parsley-error {
  border-color: #e73c38;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #e73c38;
  margin-top: 5px;
}
/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px;
}
.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px;
}
/* Summernote */
.note-editor {
  position: relative;
}
.note-editor .btn-default {
  background-color: transparent;
  border-color: transparent;
}
.note-editor .btn-group-sm > .btn,
.note-editor .btn-sm {
  padding: 8px 12px;
}
.note-editor .note-toolbar {
  background-color: #f3f3f3;
  border-bottom: 1px solid #eeeeee;
  margin: 0;
}
.note-editor .note-statusbar {
  background-color: #ffffff;
}
.note-editor .note-statusbar .note-resizebar {
  border-top: none;
  height: 15px;
  padding-top: 3px;
}
.note-editor.note-frame {
  border: 1px solid #eeeeee;
}
.note-popover .popover .popover-content {
  padding: 5px 0 10px 5px;
}
.note-popover .btn-default {
  background-color: transparent;
  border-color: transparent;
}
.note-popover .btn-group-sm > .btn,
.note-popover .btn-sm {
  padding: 8px 12px;
}
.note-toolbar {
  padding: 5px 0 10px 5px;
}
.datepicker {
  border: 1px solid #dddddd;
  padding: 8px;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #1ea69a !important;
  background-image: none;
  box-shadow: none;
}
/* Timepiker */
.bootstrap-timepicker-widget table td input {
  border: none;
}
/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 6px;
}
.dropzone .dz-message {
  font-size: 30px;
}
/* ==============
  Calendar
===================*/
.calendar {
  float: left;
  margin-bottom: 0;
}
.none-border .modal-footer {
  border-top: none;
}
.fc-toolbar {
  margin-bottom: 5px;
}
.fc-toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}
.fc-day {
  background: #ffffff;
}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}
.fc-widget-header {
  border: 1px solid #d5d5d5;
}
.fc-widget-content {
  border: 1px solid #d5d5d5;
}
.fc th.fc-widget-header {
  background: #dddddd;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}
.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
}
.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}
.fc-state-hover {
  background: #f5f5f5;
}
.fc-state-highlight {
  background: #f0f0f0;
}
.fc-cell-overlay {
  background: #f0f0f0;
}
.fc-unthemed .fc-today {
  background: #ffffff;
}
.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
  background-color: #1ea69a;
}
.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}
.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}
.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}
/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0;
}
.widget-chart li i {
  font-size: 22px;
}
.widget-box-one {
  position: relative;
}
.widget-box-one h2 {
  position: relative;
}
.widget-box-icon {
  position: absolute;
  right: 15px;
  top: 35px;
  font-size: 48px;
  color: #e1e1e1;
  height: 50px;
}
/*
File: Pages
*/
/*
  - Sweet Alerts
  - Maps
  - Email
  - Timeline
  - Charts
  - Account Pages
  - Invoice
  - Directory
*/
/* =========== */
/* Sweet Alert */
/* =========== */
.sweet-alert h2 {
  font-size: 24px;
  position: relative;
}
.sweet-alert p {
  font-size: 14px;
  line-height: 22px;
}
.sweet-alert .icon.success .placeholder {
  border: 4px solid rgba(34, 134, 245, 0.3);
}
.sweet-alert .icon.success .line {
  background-color: #2286f5;
}
.sweet-alert .icon.warning {
  border-color: #fa9a2a;
}
.sweet-alert .icon.info {
  border-color: #5cb45b;
}
.sweet-alert .btn-warning:focus,
.sweet-alert .btn-info:focus,
.sweet-alert .btn-success:focus,
.sweet-alert .btn-danger:focus,
.sweet-alert .btn-default:focus {
  box-shadow: none;
}
.sweet-alert .btn-lg {
  font-size: 15px;
  padding: 8px 18px;
}
.sweet-alert .icon.error {
  border-color: #e73c38;
}
.sweet-alert .icon.error .line {
  background-color: #e73c38;
}
.sweet-alert .icon.warning .body,
.sweet-alert .icon.warning .dot {
  background-color: #fa9a2a;
}
/* ==============
  Timeline
===================*/
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
#cd-timeline {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em 0;
  position: relative;
}
#cd-timeline::before {
  border-left: 3px dotted #cccccc;
  content: '';
  height: 100%;
  left: 18px;
  position: absolute;
  top: 0;
  width: 3px;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  margin: 2em 0;
  position: relative;
}
.cd-timeline-block:after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
}
.cd-timeline-img.cd-success {
  background: #2286f5;
}
.cd-timeline-img.cd-info {
  background: #5cb45b;
}
.cd-timeline-img.cd-pink {
  background: #ed699b;
}
.cd-timeline-img.cd-danger {
  background: #e73c38;
}
.cd-timeline-img.cd-primary {
  background: #1ea69a;
}
.cd-timeline-img.cd-warning {
  background: #fa9a2a;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    line-height: 60px;
    left: 50%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
.cd-timeline-content {
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid #cccccc;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  padding: 1em;
  position: relative;
}
.cd-timeline-content img {
  display: block;
  width: 100%;
}
.cd-timeline-content:after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-content h2 {
  margin-top: 0;
}
.cd-timeline-content p {
  color: #666666;
  margin: 10px 0;
  line-height: 24px;
}
.cd-timeline-content .cd-read-more {
  background: #acb7c0;
  border-radius: 0.25em;
  color: white;
  display: inline-block;
  float: right;
  font-size: 14px;
  padding: .8em 1em;
}
.cd-timeline-content .cd-date {
  display: inline-block;
  font-size: 14px;
}
.cd-timeline-content h3 {
  font-size: 21px;
  margin: 0;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #fafafa;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #cccccc;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #cccccc;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
/* ==============
  Charts
===================*/
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
/* Morris chart */
.morris-hover.morris-default-style {
  border-radius: 5px;
  padding: 10px 12px;
  background: #ffffff;
  border: none;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  color: #262c30 !important;
}
/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: #ffffff;
  z-index: 100;
  color: #262c30;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 1px;
}
/* Chartist chart */
.ct-golden-section:before {
  float: none;
}
.ct-chart {
  height: 300px;
}
.ct-chart .ct-label {
  fill: #a3afb7;
  color: #a3afb7;
  font-size: 12px;
  line-height: 1;
}
.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
}
.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #1ea69a;
}
.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #dddddd;
}
.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #fa9a2a;
}
.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #e73c38;
}
.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #5cb45b;
}
.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #262c30;
}
.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #ed699b;
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #1ea69a;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #dddddd;
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #fa9a2a;
}
.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #262c30;
}
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  background: #262c30;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.chartist-tooltip.tooltip-show {
  opacity: 1;
}
/* ==============
  Maps
===================*/
.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px;
}
.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #1ea69a;
  border-radius: 4px;
  padding: 10px 20px;
}
.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #1ea69a;
}
.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #1ea69a;
}
/* ==============
  Account Pages
===================*/
.accountbg {
  background: url("../images/stardust.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.wrapper-page {
  margin: 7.5% auto;
  width: 420px;
  position: relative;
}
.panel-pages .logo-admin {
  font-size: 28px;
}
.panel-pages .panel-body {
  padding: 25px 30px;
}
.panel-pages .panel-heading {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  padding: 40px 20px;
  position: relative;
}
.panel-pages .panel-heading h3 {
  position: relative;
  z-index: 999;
}
.user-thumb {
  position: relative;
  z-index: 999;
}
.user-thumb img {
  height: 88px;
  margin: 0 auto;
  width: 88px;
}
.ex-page-content h1 {
  font-size: 98px;
  font-weight: 700;
  line-height: 150px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}
/* ==== =====
Invoice
============= */
.table > thead > tr > .no-line {
  border-bottom: none;
}
.table > tbody > tr > .no-line {
  border-top: none;
}
.table > tbody > tr > .thick-line {
  border-top: 2px solid;
}
/* ==== =====
Directory
============= */
.media-main a.pull-left {
  width: 80px;
}
.media-main .info {
  overflow: hidden;
}
.media-main .info h4 {
  margin-bottom: 5px;
}
.user-card p.info-text {
  line-height: 26px;
  margin-top: 15px;
}
.user-card .thumb-lg {
  height: 66px;
  width: 66px;
}
/*
File: Menu
*/
.topbar {
  background: #ffffff;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.topbar .topbar-left {
  background-color: #26384f;
  float: left;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
  text-align: center;
}
.logo,
.logo-sm {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 70px;
}
.logo span,
.logo-sm span {
  color: #1ea69a;
}
.logo-sm {
  display: none;
}
.logo-sm span {
  background-color: #eee;
  height: 44px;
  width: 44px;
  display: block;
  line-height: 44px;
  margin-top: 13px;
}
.navbar-default {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > .open > a {
  background-color: rgba(38, 44, 48, 0.05);
}
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(38, 44, 48, 0.05);
}
.navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(38, 44, 48, 0.05);
}
.navbar-default .nav > li > a {
  padding: 0 15px;
  position: relative;
}
.navbar-default .nav > li > a i {
  font-size: 20px;
}
.navbar-default .nav > li > a .badge {
  position: absolute;
  right: 8px;
  top: 15px;
  display: block;
}
.navbar-default .waves-effect.waves-light .waves-ripple {
  background-color: rgba(38, 44, 48, 0.2);
}
.menu-title {
  padding: 12px 25px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
  color: #898989;
}
.profile {
  padding: 17px 15px !important;
}
.profile img {
  border: 2px solid #edf0f0;
  height: 36px;
  width: 36px;
  float: left;
}
.profile .profile-username {
  margin-left: 45px;
  display: block;
  line-height: 36px;
}
.dropdown-menu-lg {
  width: 270px;
}
.dropdown-menu-lg .list-group {
  margin-bottom: 0;
}
.dropdown-menu-lg .list-group-item {
  padding: 10px 20px;
  border-left: 0;
  border-right: 0;
  border-color: rgba(38, 44, 48, 0.1);
}
.dropdown-menu-lg .list-group-item:last-child {
  border-bottom: none;
}
.dropdown-menu-lg .media p {
  color: #898989;
}
.dropdown-menu-lg .media-heading,
.dropdown-menu-lg p {
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  font-weight: normal;
  overflow: hidden;
}
.notifi-title {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0 10px;
}
.notifi-title .badge {
  margin-left: 5px;
}
.noti-sm-icon {
  float: left;
  width: 40px;
  line-height: 38px;
  font-size: 20px;
}
.noti-content {
  margin-left: 40px;
}
.sidebar-search {
  padding: 13px 20px;
  display: none;
  background-color: #1ea69a;
}
.search-bar {
  background-color: rgba(38, 44, 48, 0.15);
  border: none;
  box-shadow: none;
  font-size: 14px;
  border-radius: 30px;
  padding-left: 20px;
  color: #ffffff;
}
.search-bar:focus {
  background-color: rgba(38, 44, 48, 0.2);
  border: none;
  box-shadow: none;
}
.btn-search {
  display: none;
}
input.search-bar::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input.search-bar:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input.search-bar::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input.search-bar:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.navbar-nav {
  margin: 0;
}
.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.side-menu.left {
  background: #1c293b;
  box-shadow: 1px 0 10px rgba(38, 44, 48, 0.12);
  position: absolute;
  top: 70px;
  z-index: 99;
}
body.fixed-left .side-menu.left {
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0;
  padding-bottom: 70px;
  position: fixed;
}
.content-page {
  margin-left: 240px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.content-page > .content {
  margin-bottom: 60px;
  margin-top: 70px;
  padding: 20px 5px 15px 5px;
}
.button-menu-mobile {
  background: transparent;
  color: #262c30;
  font-size: 28px;
  height: 42px;
  width: 42px;
  border-radius: 3px;
  margin-top: 14px;
  border: 1px dashed #666666;
  line-height: 20px;
  margin-left: 15px;
}
.button-menu-mobile:hover {
  color: #262c30;
}
.sidebar-inner {
  height: 100%;
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}
.navbar-nav > li > a.notification-icon-box {
  line-height: 70px;
}
.navbar-nav > li > a.notification-icon-box i {
  font-size: 26px;
  vertical-align: middle;
}
#sidebar-menu {
  background-color: #1c293b;
  padding-bottom: 50px;
  width: 100%;
}
#sidebar-menu a {
  line-height: 1.3;
}
#sidebar-menu .badge {
  margin-top: 4px;
}
#sidebar-menu ul ul {
  display: none;
}
#sidebar-menu ul ul li {
  border-top: 0;
}
#sidebar-menu ul ul li.active a {
  color: #ffffff;
}
#sidebar-menu ul ul a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 10px 25px 10px 62px;
  font-size: 13px;
}
#sidebar-menu ul ul a:hover {
  color: #ffffff;
}
#sidebar-menu ul ul a i {
  margin-right: 5px;
}
#sidebar-menu ul ul ul a {
  padding-left: 80px;
}
#sidebar-menu > ul > li > a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  padding: 15px 25px;
  background-color: #1c293b;
  height: 50px !important;
  line-height: 1.5;
}
#sidebar-menu > ul > li > a:hover {
  background-color: #26384f! important;
  text-decoration: none;
  color: #ffffff;
}
#sidebar-menu > ul > li > a span i {
  font-size: 18px;
  line-height: 22px;
}
#sidebar-menu > ul > li.nav-active > a {
  background-color: #1c293b;
  color: #ffffff;
}
#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}
#sidebar-menu > ul > li > a > i {
  display: inline-block;
  font-size: 15px;
  margin-left: 3px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}
#sidebar-menu > ul > li > a.active {
  color: #ffffff;
  background-color: #1c293b;
}
.has_sub.nav-active i.mdi-chevron-right:before {
  content: "\F140";
}
#sidebar-menu > ul > li.nav-active > ul {
  display: block;
}
#wrapper.enlarged .left.side-menu {
  padding-top: 0;
  z-index: 5;
  margin-left: -100%;
}
#wrapper.enlarged .content-page {
  margin-left: 0;
}
#wrapper.enlarged .footer {
  left: 0;
}
.user-details {
  min-height: 80px;
  padding: 20px;
  position: relative;
}
.user-details img {
  position: relative;
  z-index: 9999;
  height: 64px;
  width: 64px;
}
.user-details .user-info {
  text-align: center;
}
.user-details .user-info a.dropdown-toggle {
  color: #ffffff;
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
  margin-bottom: 5px;
}
.user-details .user-info .text-success {
  color: #1ea69a;
}
.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: #ffffff;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
}
.page-header-title {
  margin: -20px -5px 0px -5px;
  padding: 10px 15px 10px 20px;
}
.page-header-title .breadcrumb {
  margin-bottom: 0;
}
.page-header-title .page-title {
  margin-bottom: 12px;
  font-size: 20px;
}
.small-menu .side-menu,
.small-menu .topbar-left {
  width: 190px;
}
.small-menu .side-menu .badge,
.small-menu .topbar-left .badge {
  display: none;
}
.small-menu #sidebar-menu > ul > li > a {
  height: auto !important;
  text-align: center;
}
.small-menu #sidebar-menu > ul > li > a > i {
  font-size: 18px;
  line-height: 26px;
  display: block;
  width: auto;
  margin: 0;
}
.small-menu #sidebar-menu > ul > li > a > span.pull-right {
  display: none !important;
}
.small-menu #sidebar-menu ul ul a {
  padding: 10px;
  text-align: center;
}
.small-menu .content-page {
  margin-left: 190px;
}
/*
File: Responsive
*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 768px) {
  .side-menu.left {
    margin-left: -100%;
  }
  .content-page {
    margin-left: 0;
  }
  .enlarged .side-menu.left {
    margin-left: 0 !important;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .content-page {
    margin-left: 0 !important;
  }
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  .mobile-sidebar {
    left: 0;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  #wrapper.enlarged .footer,
  .footer {
    left: 0;
  }
}
@media (max-width: 620px) {
  .topbar-left {
    width: 70px !important;
  }
  .logo {
    display: none;
  }
  .logo-sm {
    display: inline-block;
  }
  .page-header-title {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10;
  }
  .button-menu-mobile {
    display: block;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none;
  }
}


/*Hyginus*/

.form-inline input {
  width: 280px! important;
 /* margin-top: 12px;*/
}

h4.m-t-0.formTitle {
    margin-bottom: -9px;
    margin-top: 8px;
    color: #999;
    font-weight: 300;
}


.col-sm-offset-3.btnFooter {
  display: inline-flex;
  float: right;
  margin-bottom: 2em;
}

h4.panel-body-title{ color:#95989a;}
.panel-body .status{ color:#95989a;}


/*----------------------new--------------------------*/

.bankaccounts{
  margin:10px 0px; 
  padding-bottom: 8px;
}
.bankaccounts p{
  font-size: 16px;
  font-weight: 600;
  padding:0px;
  color: #95989a;

}

table th{
  text-align: left ;
    font-size: 12px ;
    padding-left: 15px !important;
}

.paydata span{
  color: #666666;

}

.page-header h1{
  float: left;
}
.page-header a{
  margin-top: 12px;
}

.loader {
  margin-left: 500px;
  margin-top: 200px;
  margin-bottom: 600px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #13a89e;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}